@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular'; 
@import '~@fortawesome/fontawesome-free/scss/brands'; 


.nav-link {
    height: 50px; /* Adjust the height as needed */
    display: flex;
    align-items: center; /* Vertically center the content */
}

.sidebar {
    width: 250px; /* Set a fixed width for the sidebar */
    background-color: #f8f9fa; /* Optional background color for sidebar */
}
.content {
    overflow: auto; /* To ensure content is scrollable if it overflows */
}
.cta-button {
    background-color: #f63387;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    color: white;
}
.cta-button:hover {
    background-color: #d6256b;
}
.sign-up-btn {
    background-color: #ff00b2;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
}
.log-in-btn {
    color: #f63387;
    border: none;
}
.icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-section {
    padding: 50px 0;
}
.hero-title {
    font-weight: bold;
    color: #222;
    font-size: 3rem;
}
.hero-title .highlight {
    color: #f63387;
}
.hero-subtitle {
    color: #555;
}
.features-list {
    padding-top: 30px;
}
.features-list img {
    width: 24px;
    height: 24px;
}

